extends ../layout

block body
    //- if error
    //-     p= error
    form(action='/users/register' method='post')
        div.form-group
            label(for='username') Username
            input.form-control(name='username' type='text' value=username)
        div.form-group
            label(for='password') Password
            input.form-control(name='password' type='password')
            if errors && errors['password']
                small.form-text= errors['password']
        div.form-group
            label(for='password_confirm') Confirm Password
            input.form-control(name='password_confirm' type='password')
        div.form-group
            label(for='email') Email Address
            input(class="form-control" + ( errors && errors['email'] ? " is-invalid" : "")
                  type='text' name='email' value=email)
            if errors && errors['email']
                small.form-text= errors['email']
        button.btn.btn-primary(type='submit') Register
